# Ejemplo. Copiar a /etc/mosquitto/conf.d/ en la Orange Pi.
listener 1883
allow_anonymous false
password_file /etc/mosquitto/passwd
acl_file /etc/mosquitto/acl
persistence true
persistence_location /var/lib/mosquitto/
